.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 4rem;
  line-height: 1.15;
  margin: 0;
  text-align: center;
}
